<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<head>
    
    <title>Chat</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='static.css') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <script src="{{url_for('static', filename='static.js')}}"></script>

</head>

<body>
    <div class="row container-fluid h-100 justify-content-center">
        <div class="col-md-8 col-xl-6 chat">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="../static/Images/vect1.jpg"
                                class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <span>A.I.R.A</span>
                        </div>
                    </div>
                    <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                    <div class="action_menu">
                        <ul>
                            <li><i class="fas fa-user-circle"></i> View profile</li>
                            <li><i class="fas fa-users"></i> Connect Ashish</li>
                            <li><i class="fas fa-plus"></i> Github</li>
                            <li><i class="fas fa-ban"></i> About</li>
                        </ul>
                    </div>
                </div>
                <div class="card-body msg_card_body">

                    <!-- Aira response -->
                    <div class="d-flex justify-content-start mb-4">
                        <div class="img_cont_msg">
                            <img src="../static/Images/vect1.jpg"
                                class="rounded-circle user_img_msg">
                        </div>
                        <div class="msg_cotainer">
                            Hey👋, This is A.I.R.A, an advanced AI-Bot Resume, for Ashish
                        </div>
                    </div>

                    <!-- user respnse -->
                    <!-- <div class="d-flex justify-content-end mb-4">
                        <div class="msg_cotainer_send">
                            Hi Khalid i am good tnx how about you?
                        </div>
                        <div class="img_cont_msg">
                            <img src="../static/Images/vect1.jpg" class="rounded-circle user_img_msg">
                        </div>
                    </div> -->
                  
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        
                        <form name="message" action="/get" method='post'>
                            <input style="float: left;" class="form-control type_msg" placeholder="Type your query..." name="msg" type="text" id="usermsg" />
                            <button type="submit" value="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>